[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-wakawaka = {editable = true,extras = ["tests"],path = "."}

[dev-packages]
ipdb = "*"
black = "*"
tox = "*"
wheel = "*"
setuptools = "*"
pytest = "*"
pytest-django = "*"

[scripts]
tests = "pytest"
cleanup = "sh -c \"ruff --fix wakawaka && black wakawaka\""
runserver = "sh -c \"django-admin migrate --noinput && django-admin runserver\""

