[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-wakawaka = {editable = true,extras = ["tests"],path = "."}

[dev-packages]
coverage = "*"
codacy-coverage = "*"
ipdb = "*"
isort = "*"
black = "*"
tox = "*"

[scripts]
tests = "pytest --workers 4 wakawaka/"
cleanup = "sh -c \"black --skip-string-normalization --exclude='/(migrations)/' wakawaka && isort -rc wakawaka\""

[pipenv]
allow_prereleases = true
