{% extends "wakawaka/base.html" %}

{% block title %}
	Editing {{ page.slug }}
{% endblock %}

{% block content %}
	<h1>{% if page.is_initial %}Add{% else %}Edit{% endif %} {{ page.slug }}</h1>

	{% if rev.is_not_current %}
	<p class="revert-warning">You will revert this page to an revision which is not the latest!</p>
	{% endif %}

	<form class="wakawaka_edit_form" method="POST" action="">
		{{ form.as_p }}
		<p>
			<input type="submit"/>
			or <a href="
			{% if page.is_initial %}
				javascript:window.history.go(-1);
			{% else %}
				{% url wakawaka_page slug=page.slug %}
			{% endif %}
			">Cancel</a>
		</p>
	</form>

	{% if not page.is_initial and delete_form %}
	<form class="wakawaka_delete_form" method="POST" action="" onsubmit="return confirm('Really?');">
		{{ delete_form.as_p }}
		<p>
			<input type="submit" value="Delete"/>
		</p>
	</form>
	{% endif %}

	<h2>Revisions for this page</h2>

	{% include "wakawaka/revision_table.html" %}
{% endblock %}